body {
  margin: 0;
  font-family: sans-serif;
}

/* OPENING */
.opening {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-container h1 {
  margin-bottom: 20px;
}

/* TOMBOL BESAR */
.open-container button {
  padding: 20px 50px;
  font-size: 20px;
  background: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* SLIDE */
.slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* COUNTDOWN */
.overlay {
  position: absolute;
  bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.countdown-box {
  position: relative;
  padding: 15px 30px;
  border: 2px solid gold;
  overflow: hidden;
  background: white;
}

/* TEKS */
#countdown {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

/* SWIPE DIAGONAL */
.countdown-box::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  transform: rotate(25deg);
  animation: swipeBg 4s infinite;
  z-index: 1;
}

/* BACKGROUND BERUBAH */
@keyframes swipeBg {
  0%   { background: white; transform: translateX(-100%) rotate(25deg); }
  25%  { background: yellow; transform: translateX(0%) rotate(25deg); }
  50%  { background: gold; transform: translateX(100%) rotate(25deg); }
  75%  { background: gray; transform: translateX(200%) rotate(25deg); }
  100% { background: white; transform: translateX(300%) rotate(25deg); }
}

/* TEKS BERUBAH */
@keyframes textColor {
  0%   { color: black; }
  25%  { color: black; }
  50%  { color: black; }
  75%  { color: white; }
  100% { color: black; }
}

#countdown {
  animation: textColor 4s infinite;
}
