body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* tombol awal */
button {
  position: absolute;
  bottom: 500px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 70px;
  background: gold;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

/* overlay countdown */
.overlay {
  position: absolute;
  bottom: 500px; /* SESUAIKAN posisi */
  width: 100%;
  text-align: center;
}

#countdown {
  font-size: 60px;
  font-weight: bold;
  color: #D3D3D3;
  text-shadow: 0 0 5px black;
}
